<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>About Me</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/about(detail).css">
</head>
<body>

<h1>陳品宏Pin-Hong Chen</h1>
<hr>
<p>我是陳品宏，來自台中，願意跨領域面對不同的挑戰，喜歡學習新的事物與技術。在研究所時曾經對未來感到迷惘，不過在替代役期間藉由沈澱自己以及多方接觸，決定轉往程式設計
</p>

<p>lion6396643@hotmail.com</p>
<p>中興大學物理研究所</p>
<hr>
<h1>Skill</h1>

<h3>HTML & CSS</h3>
<p>熟悉語法，且可靈活運用，並可使用純CSS語法製作RWD</p>

<h3>Javascript</h3>
<p>javascript大全大致翻完一遍，了解javascript基本語法，為了完全了解語法，故先不使用jQuery</p>
<h3>node.js</h3>
<p style="color: red">了解RESTful API(add github link)</p>

<h3>MongoDB</h3>
<p>可實作網站的CRUD</p>

<h3>Git &Github</h3>
<p>熟悉基本的add、commit、branch、push指令</p>

<h3>AWS</h3>
<p>可將自己製作的網站使用nginx佈署到aws EC2上</p>


<hr>

<h1>作品</h1>
<p><a href="http://54.64.88.220/">個人部落格(My Blog)</a></p>
<hr>
<h1>我的網站</h1>
 GitHub: <a href="https://github.com/Lionel223">https://github.com/Lionel223</a><br>
 Coding Notes(Technical): <a href="https://google1565.wordpress.com/">https://google1565.wordpress.com/</a>
</body>
</html>