<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>About Me</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body class="about">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li class="aboutLink">about</li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li><a href="/tutorial" class="tutorialLink">tutorial</a></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
<!--    topic    -->
    <div class="head_description">
        <h1>About Me</h1>
    </div>
<!--    topic end    -->
</header>



<!--    Graduate certificate    -->
<div class="introduction">
<h2>About me</h2>
    <h3>我是誰</h3>
    <p>我是Lionel，喜歡學習、接受新的挑戰，對於網頁前後端皆有著極大的興趣</p>
    <hr>
    <h3>Skill</h3>
    <ul>
        <li>Front-end: HTML(ejs)、CSS、Javascript(ES5、ES6)</li>
        <li>framwork: jQuery、jQuery UI</li>
        <li>Back-end: node.js</li>
        <li>DB: MongoDB</li>
        <li>Version Control: Git</li>
        <li>Cloud Application Platform: AWS EC2</li>
        <!--<li>nginx</li>-->
    </ul>
    <hr>
    <h3>學歷</h3>
    <table>
        <tr>
            <th>學歷</th>
            <th>學校名稱</th>
            <th>系所</th>
            <th>時間</th>
        </tr>
        <tr>
            <th>碩士</th>
            <th>國立中興大學</th>
            <th>物理所 畢業</th>
            <th>2013/9~2015/6</th>
        </tr>
        <tr>
            <th>學士</th>
            <th>國立高雄師範大學</th>
            <th>物理學系 畢業</th>
            <th>2009/9~2013/6</th>
        </tr>
        <tr>
            <th>高中</th>
            <th>台中一中</th>
            <th></th>
            <th>2006/9~2009/6</th>
        </tr>
    </table>
    <hr>
    <h3>興趣</h3>
    <ul>
        <li>程式技術學習、實作，目前關注於javascript與node.js</li>
        <li>攝影</li>
        <li>閱讀</li>
    </ul>
    <hr>
    <h3>作業系統</h3>
    <ul>
        <li>Windows /7/8/10</li>
        <li>Linux (CentOS, Ubuntu)</li>
    </ul>
</div>

<footer>
    <p>Copyright © 2016 Lionel</p>
    <a href="http://google.com"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    <a href="http://google.com"><img src="/images/LinkedIn_logo/linkedin_logo_package/LinkedIn%20%5Bin%5D/Screen/White/In-White-34px-R.png" ></a>
    
</footer>


</body>
</html>