<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>tutorial</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body class="tutorial">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li class="tutorialLink">tutorial</li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
</header>

<!--left nav-->
<div class="contentWrapper">
    <div class="slide_btn in">Left nav</div>
    <div class="left_nav in">
        <ul class="left_bar">
                <% for(i in BlogDistinct){ %>
                    <div class="reveal"><li class="handle"><%= BlogDistinct[i] %></li>
                        <% all.sort(function(a,b){return b.CreateDate-a.CreateDate}) %>
                        <ul><% all.forEach(function(bb){ 
                                        if(bb.Classification==BlogDistinct[i]){  %>
                                    <li><a href="/tutorial/<%= bb.id %>"><%= bb.Topic %></a></li>
                            <% }}); %>
                        </ul>
                    </div>
                <% }; %>
        </ul>
    </div>
<script>
//can't use 'window.onload'
    var btn = document.getElementsByClassName("slide_btn")[0];
    var left_nav = document.getElementsByClassName("left_nav")[0];
    change_class(btn,left_nav);
        //移入或移出(about CSS)
    function change_class(btn,left_nav){
        btn.onclick = function(){
            btn.classList.toggle("in");
            left_nav.classList.toggle("in");
        }
    }
</script>
<script>
window.onload = function(){
    var elements = document.getElementsByClassName("reveal");
    for(var i=0;i<elements.length;i++){
        var elt = elements[i];
        var title = elt.getElementsByClassName('handle')[0];
        addRevealHandler(title,elt);
    }
    function addRevealHandler(title,elt){
        title.onclick = function(){
            if(elt.className == "reveal") elt.className = "revealed";
            else if (elt.className == "revealed") elt.className = "reveal";
        }
    }
};
</script>

<!--    left nav end    -->
<!--    main article    -->
    <div class="main">
<!--main article-->
    <!--sign in-->
</div>
    <br><br><br>
</div>


<footer>
    <p>Copyright © 2017 Lionel</p>
    <a href="http://google.com"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    <a href="http://google.com"><img src="/images/LinkedIn_logo/linkedin_logo_package/LinkedIn%20%5Bin%5D/Screen/White/In-White-34px-R.png" ></a>    
</footer>

</body>
</html>