<!DOCTYPE html>
<html lang="en">
<head>
    <title>snake</title>
    
</head>
<body>
    <canvas width="200" height="200" style="border:1px solid black"></canvas>
    <script  src="../javascripts/snake.js"></script>
</body>
</html>