<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>Add article</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script src="../ckeditor/ckeditor.js"></script>
</head>

<body class="add">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li><a href="/tutorial" class="tutorialLink">tutorial</a></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink">add article</li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
<!--    topic    -->
    <div class="head_description">
        <h1>Add article</h1>
    </div>
<!--    topic end    -->
</header>

<div class="form">
    <h2>Add Article</h2>
    <form name="add" method="post" action="/apis/add" onsubmit="return validateForm()">
        <!--Classification-->    <!--    使用mongodb存取classification    -->
        <p>    
            <span style="font-weight: bold;">Select a classification</span>
            <input type="radio" name="Classification" value="HTML">HTML &amp CSS
            <input type="radio" name="Classification" value="Javascript">Javascript
            <input type="radio" name="Classification" value="Node">Node
            <input type="radio" name="Classification" value="Linux">Linux
            <input type="radio" name="Classification" value="Database">Database
            <input type="radio" name="Classification" value="test">增加新類別
        </p>
        <p class="warning"></p>
        <!--    Topic    -->
        <h2>
            <input type="text" name="Topic" placeholder="Topic標題">
        </h2>
        <p class="warning"></p>
        <!--    main article    -->
        <p>
            <textarea type="text" name="Content"></textarea>
            <script>CKEDITOR.replace( 'Content', {});</script>
        </p>
        <p class="warning"></p>
        <input type="submit" name="submit" value="save">
    </form>

</div>
<script>

function validateForm() {
    var radioValid = false;
    var topicValid = true;

    //Classification
    var radio = document.getElementsByName("Classification");
    for(i = 0; i < radio.length; i++){
        if(radio[i].checked) radioValid = true;
    }
    if (!radioValid){
        para = document.getElementsByClassName('warning')[0];
        para.textContent = "分類尚未選取!";
        para.style.color = "red";
        para.style.display = "block";

    }else{
        para.style.display = "none";
    }
    //Topic
    var Topic = document.forms["add"]["Topic"].value;
    if(Topic == "" || Topic == null){
        topicValid = false;
        para1 = document.getElementsByClassName('warning')[1];
        para1.textContent = "標題尚未填寫";
        para1.style.color = "red";
        para1.style.display = "block";

    }else{
        topicValid == true;
        para1.style.display = "none";
    }

    
    //All Valid
    if(!radioValid || !topicValid){ 
        return false;
    }
    return false;
}
</script>


<footer>
    <p>Copyright © 2017 Lionel</p>
        <a href="https://github.com/Lionel223"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    
</footer>


</body>
</html>