<!DOCTYPE html>
<html>
<head>
	<title>forget passwd</title>
</head>
<body>
<div style="float:left">
	<a href="/">HOME</a>
</div>
<div style="float:right">
	<a href="/users/signin">sign in</a>
</div>
<br><br>
<fieldset style="margin:auto">
	<legend>Forget passwd</legend>
	<form method="post", action="/apis/login">	<!--尚未更改action-->
		<label>Username:<br>
		<input type="text" name="name"></label><br>
		<label>E-mail:<br>
		<input type="text" name="name" placeholder="Enter your email" ></label><br>
		<input type="submit" value="確定">
	</form>
</fieldset>


</body>
</html>