<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>Lionel's blog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="../stylesheets/style.css">
</head>

<body class="home">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li class="homeLink">home</li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li><a href="/tutorial" class="tutorialLink">tutorial</a></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
<!--    topic    -->
    <div class="head_description">
        <h1>Test<!--Lionel's blog!--></h1>
    </div>
<!--    topic end    -->
</header>



<p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>

<!--animate-->
<!--article     (put it in tutorial)    -->
<!--
<%    blogs.forEach(function(blogs){    %>
    <div class="main_article">
        <div class="article">Topic: <%= blogs.Topic %></div>
        <div class="article">Article: <%= blogs.Article %></div>
        <div class="article"><a href="/users/message/<%= blogs.id %>">Leave a message</a></div>
    </div>
<%    });    %>
-->

<footer>
    <p>Copyright © 2016 Lionel</p>
    <a href="http://google.com"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    <a href="http://google.com"><img src="/images/LinkedIn_logo/linkedin_logo_package/LinkedIn%20%5Bin%5D/Screen/White/In-White-34px-R.png" ></a>
    
</footer>


</body>
</html>