<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>edit article</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
    <script src="../../ckeditor/ckeditor.js"></script>
</head>

<body class="modify">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li><a href="/tutorial" class="tutorialLink">tutorial</a></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
<!--    topic    -->
    <div class="head_description">
        <h1>Test<!--add article--></h1>
    </div>
<!--    topic end    -->
</header>

<div class="form">
    <h2>Edit article</h2>
    <form method="post", action="/apis/update/<%= messageID %>">
        <!--Classification-->
        <p>
            <label>Select a classification</label>
                <input type="radio" name="Classification" value="HTML" checked>HTML &amp CSS
                <input type="radio" name="Classification" value="Javascript">Javascript
                <input type="radio" name="Classification" value="Node">Node
                <input type="radio" name="Classification" value="Linux">Linux
                <input type="radio" name="Classification" value="Database">Database
        </p>
        <!--    Topic    -->

        <h2>
            <input type="text" name="Topic" placeholder="Topic標題" value=<%= blogs[0].Topic %>>
        </h2>
        <p>
            <textarea type="text" name="Content"><%= blogs[0].Article %></textarea>
            <script>CKEDITOR.replace( 'Content', {});</script>
        </p>
        <input type="submit" name="submit" value="Update">
    </form>
</div>


<footer>
    <p>Copyright © 2017 Lionel</p>
    <a href="https://github.com/Lionel223"><img src="../../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>

    
</footer>

</body>
</html>
