<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style type="text/css">
		*{padding:0px;margin:0px;}
		.con{
			position:relative;
		}
		.left {
			position:absolute;top:0px;left:0px;width:200px;background-color:#FF0;height:500px;
		}
		.right {
			margin-left:200px;background-color:#AAA;height:500px;
		}
		</style>
		<title>My First Blog</title>
	</head>
<body>
	<div class="con">
		<div class="left">left</div>
		<div class="right">right</div>
	</div>
</body>
</html>